
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #00ffff
}

.main {
  margin-left: 240px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="#"><i class="fa fa-home"></i> &nbsp; Ana sayfa</a>
        <a href="/Kategori/Index/"><i class="fa fa-cubes"></i> &nbsp; Kategoriler</a>
        <a href="/Kitap/Index/"><i class="fa fa-book"></i> &nbsp; Kitaplar</a>
        <a href="/Yazar/Index/"><i class="fa fa-pencil"></i> &nbsp; Yazarlar</a>
        <a href="/Uye/Index/"><i class="fa fa-users"></i> &nbsp; Üyeler</a>
        <a href="/Personel/Index/"><i class="fa fa-id-card-o"></i> &nbsp; Personeller</a>
        <a href="/Odunc/OduncVer/"><i class="fa fa-chevron-circle-up"></i> &nbsp; Ödünç Kitap Ver</a>
        <a href="#"><i class="fa fa-chevron-circle-down"></i> &nbsp; Ödünç Kitap Al</a>
        <a href="#"><i class="fa fa-money"></i> &nbsp; Kasa</a>
        <a href="#"><i class="fa fa-life-ring"></i> &nbsp; İşlemler</a>
        <a href="#"><i class="fa fa-picture-o"></i> &nbsp; Galeri</a>
        <a href="#"><i class="fa fa-gift"></i> &nbsp; Vitrin</a>
        <a href="#"><i class="fa fa-cog"></i> &nbsp; Ayarlar</a>
        <a href="#"><i class="fa fa-question"></i> &nbsp; Yardım</a>
        <a href="#"><i class="fa fa-times-circle"></i> &nbsp; Çıkış</a>
        
    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>

